.loaderWrapper {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderRing {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loaderRing:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #24292e;
  border-color: #24292e transparent #24292e transparent;
  animation: ring 1.2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
