.sidebar {
  width: 300px;
}

.sidebarNav {
  background-color: #f2f2f2;
  padding: 2px 0;
}

.sidebarNavFolders {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.folders {
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  padding: 10px 6px;
}

.folderText {
  font-weight: bold;
  letter-spacing: 2px;
}

.folderButton {
  font-size: 3em;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
}

.folderButton:hover {
  background-color: #333333;
  color: #ffffff;
}
