.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #333333;
  background-color: #24292e;
}

.logo {
  display: flex;
  align-items: center;
  color: #5fd5f6;
  margin-left: 50px;
}

.logo h1 {
  font-size: 1.3em;
  margin: 0 0 0 10px;
  font-weight: 400;
}
