.inputFolderWrapper {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  max-width: 100%;
}

.input {
  font-size: 0.55em;
  height: 36px;
  padding: 5px 8px;
  margin: 10px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.inputFolderWrapper svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.inputFolderWrapper svg:hover {
  color: #a80303;
}

.warning {
  position: absolute;
  color: #a80303;
  top: -7px;
  left: 8px;
  font-size: 0.55em;
}
